<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"></meta>
<title th:text="${title}"></title>
<!-- Bootstrap -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" th:text="${title}"></a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="dropdown"><a th:inline="text" href="#"
							role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i>你好，[[${name}]]<i class="caret"></i>

						</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><a tabindex="-1" href="/logout">退出登录</a></li>
							</ul></li>
					</ul>
					<ul class="nav">
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3" id="sidebar">
				<ul id="ul_left" class="nav nav-list bs-docs-sidenav nav-collapse collapse">
				</ul>
			</div>
			<!--/span-->
			<div class="span9" id="content">
				<!-- validation -->
				<div class="row-fluid">
					<!-- block -->
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">新增用户</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<!-- BEGIN FORM-->
								<form action="#" id="form_sample_1" class="form-horizontal">
									<fieldset>
										<div class="control-group">
											<label class="control-label" for="focusedInput">账号</label>
											<div class="controls">
												<div>
													<input id="ipt_1" th:value="${userBean.userName}" 
														class="input-xlarge focused" type="text" placeholder="账号" />
												</div>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="focusedInput">密码</label>
											<div class="controls">
												<div>
													<input id="ipt_2"  th:value="${userBean.pwd}"
														class="input-xlarge focused" type="text" placeholder="密码" />
												</div>
											</div>
										</div>
										
										<div class="control-group">
											<label class="control-label" for="focusedInput">性别</label>
											<div class="controls">
												<select id="ipt_3" class="span6 m-wrap">
													<option th:selected="${userBean.sex} == 1" name="sex" value="1">男</option>
													<option th:selected="${userBean.sex} == 0" name="sex" value="0">女</option>
												</select>
											</div>
										</div>
										
										<div class="control-group">
											<label class="control-label" for="focusedInput">年龄</label>
											<div class="controls">
												<div>
													<input id="ipt_4" th:value="${userBean.age}"
														class="input-xlarge focused" type="text" placeholder="年龄" />
												</div>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="focusedInput">部门</label>
											<div class="controls">
												<select id="ipt_5" class="span6 m-wrap">
													<option th:selected="${userBean.team} == 0" name="team" value="0">技术部</option>
													<option th:selected="${userBean.team} == 1" name="team" value="1">销售部</option>
													<option th:selected="${userBean.team} == 2" name="team" value="2">人事部</option>
												</select>
											</div>
										</div>
										
										<div class="control-group">
											<label class="control-label" for="focusedInput">权限</label>
											<div class="controls">
												<select id="ipt_6" class="span6 m-wrap">
													<option th:selected="${userBean.lid} == 0" name="limit" value="0">员工</option>
													<option th:selected="${userBean.lid} == 1" name="limit" value="1">经理</option>
												</select>
											</div>
										</div>
										


										<div class="form-actions">
											<button onclick="btn_cancel()" type="button" class="btn">取&nbsp;&nbsp;&nbsp;&nbsp;消</button>
											<button type="button" onclick="btn_ok()" class="btn btn-primary">修&nbsp;&nbsp;&nbsp;&nbsp;改</button>
										</div>
									</fieldset>
								</form>
								<!-- END FORM-->
							</div>
						</div>
					</div>
					<!-- /block -->
				</div>
				<!-- /validation -->


			</div>
		</div>
	</div>
	<!--/.fluid-container-->
	<link th:href="@{/vendors/datepicker.css}" rel="stylesheet"
		media="screen" />
	<link th:href="@{/vendors/uniform.default.css}" rel="stylesheet"
		media="screen" />
	<link th:href="@{/vendors/chosen.min.css}" rel="stylesheet"
		media="screen" />

	<link th:href="@{/vendors/wysiwyg/bootstrap-wysihtml5.css}"
		rel="stylesheet" media="screen" />

	<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script th:src="@{/vendors/jquery.uniform.min.js}"></script>
	<script th:src="@{/vendors/chosen.jquery.min.js}"></script>
	<script th:src="@{/vendors/bootstrap-datepicker.js}"></script>

	<script th:src="@{/vendors/wysiwyg/wysihtml5-0.3.0.js}"></script>
	<script th:src="@{/vendors/wysiwyg/bootstrap-wysihtml5.js}"></script>

	<script th:src="@{/vendors/wizard/jquery.bootstrap.wizard.min.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendors/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/form-validation.js}"></script>

	<script th:src="@{/assets/scripts.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		jQuery(document).ready(function() {
			$("#ul_left").html([[${left}]])
			FormValidation.init();
		});

		$(function() {
			$(".datepicker").datepicker();
			$(".uniform_on").uniform();
			$(".chzn-select").chosen();
			$('.textarea').wysihtml5();

			$('#rootwizard').bootstrapWizard(
					{
						onTabShow : function(tab, navigation, index) {
							var $total = navigation.find('li').length;
							var $current = index + 1;
							var $percent = ($current / $total) * 100;
							$('#rootwizard').find('.bar').css({
								width : $percent + '%'
							});
							// If it's the last tab then hide the last button and show the finish instead
							if ($current >= $total) {
								$('#rootwizard').find('.pager .next').hide();
								$('#rootwizard').find('.pager .finish').show();
								$('#rootwizard').find('.pager .finish')
										.removeClass('disabled');
							} else {
								$('#rootwizard').find('.pager .next').show();
								$('#rootwizard').find('.pager .finish').hide();
							}
						}
					});
			$('#rootwizard .finish').click(function() {
				alert('Finished!, Starting over!');
				$('#rootwizard').find("a[href*='tab1']").trigger('click');
			});
		});

		

		function btn_cancel() {
			window.location.href = "/userManager";
		}

		function btn_ok() {
			var ipt_1 = $("#ipt_1").val();
			var ipt_2 = $("#ipt_2").val();
			var ipt_3 = $("option[name='sex']:checked").val();
			var ipt_4 = $("#ipt_4").val();
			var ipt_5 = $("option[name='team']:checked").val();
			var ipt_6 = $("option[name='limit']:checked").val();

			ipt_1 = $.trim(ipt_1);
			ipt_2 = $.trim(ipt_2);
			ipt_4 = $.trim(ipt_4);
			
			if (ipt_1 == "" || ipt_2 == "" || ipt_4 == "") {
				alert("请输入完整信息")
				return;
			}
			
			var data = '{"userName" : "' + ipt_1 + '","pwd":"' + ipt_2 + '","sex":"' + ipt_3 + '","age":"'
				+ ipt_4 + '","team":"'
				+ ipt_5 + '","lid":"' + ipt_6 + '" }';
				
			$.ajax({
				url : "/page/user/edit/"+/*[[${userBean.id}]]*/,
				type : "POST",
				datatype : "JSON",
				contentType : "application/json;charset=utf-8",
				data : data,
				success : function(obj) {
					if (obj.code == 0) {
						window.location.href = "/userManager";
					} else {
						alert(obj.message);
					}
				},
				error : function() {
					alert("提交失败！");
				}
			});
		}
		/*]]>*/
	</script>
</body>

</html>